<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.awesomebucket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AwesomeBucket"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.example.awesomebucket.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.awesomebucket.activity.LoginActivity"
            android:label="로그인 액티비티" />
        <activity
            android:name="com.example.awesomebucket.activity.MainActivity"
            android:label="버킷리스트 목록" />
        <activity
            android:name="com.example.awesomebucket.activity.CategoryActivity"
            android:label="카테고리 관리"
            android:parentActivityName="com.example.awesomebucket.activity.MainActivity" />
        <activity
            android:name="com.example.awesomebucket.activity.AddActivity"
            android:label="버킷리스트 추가 수정"
            android:parentActivityName="com.example.awesomebucket.activity.MainActivity" />
        <activity
            android:name="com.example.awesomebucket.activity.DetailActivity"
            android:label="버킷 상세보기 액티비티"
            android:parentActivityName="com.example.awesomebucket.activity.MainActivity" />
        <activity
            android:name="com.example.awesomebucket.activity.SignupActivity"
            android:label="회원가입 액티비티"
            android:parentActivityName="com.example.awesomebucket.activity.MainActivity" />
        <activity
            android:name="com.example.awesomebucket.activity.FindPwActivity"
            android:label="비밀번호 찾기 액티비티"
            android:parentActivityName="com.example.awesomebucket.activity.MainActivity" />
    </application>

</manifest>